.container {
    display: flex;
}

.containerR {
    display: flex; /* Utiliza el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%; /* Ancho del contenedor */
    height: 100%; /* Alto del contenedor */
  }
  
  .containerR img {
    width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: 100%; /* Asegura que la imagen no exceda el alto del contenedor */
  }
  
  
.half {
    height: 100%;
    box-sizing: border-box;
}
  
.left {
    width: 50%;
}
  
.right {
    width: 50%;
}

ion-grid, ion-card{
    background-color: rgb(51, 50, 50);
    color: aliceblue;
    width: auto;
    height: auto;
}

ion-card-title{
    color: aliceblue;
}

ion-content, ion-grid{
    background-color: rgb(51, 50, 50);
    color: aliceblue;
    width: auto;
    height: auto;
}

/* app-footer {
    position: fixed;
    bottom: 0;
    height:30%;
    width: 100%;
  } */