<app-header titulo="Historias"></app-header>

<ion-content>

    <ion-grid >
        <ion-row class="ion-justify-content-center" >
          <ion-col size="12" size-lg="6" size-md="6" size-sm="6"
                  *ngFor="let user of usuarios" >
            <ion-card (click)="onClick(user)" >
              <ion-card-content>
              <div class="container" >
                <div class="half top">
                  <ion-card-header>
                    <ion-card-subtitle>{{ user.name }}</ion-card-subtitle>
                  </ion-card-header>
                  <!-- <ion-label>{{ user.name }}</ion-label> -->
                  <ion-img [src]="user.avatar"></ion-img>
                </div>
                <div class="half bottom">
                  <ion-label>{{ user.summary }}</ion-label>
                   <!--  <p>{{ user.summary }}</p> -->
                  
                </div>
              </div>
            </ion-card-content>
                <!-- <img [src]="user.avatar" style="border-radius: 10px; border: 2px solid #ccc;">
                 -->
                
            </ion-card>
          </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>

<app-footer></app-footer>