<app-header titulo="Historias"></app-header>

<ion-content>

    <ion-grid >
      <ion-card mode="md" *ngFor="let usuario of usuarios" (click)="onClick(usuario)">
        <div class="container">
          <div class="half left"><img src="{{this.usuario.avatar}}"></div>
          <div class="half right">
            <ion-card-header>
              <ion-card-subtitle>{{this.usuario.age}}</ion-card-subtitle>
              <ion-card-title>{{this.usuario.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{this.usuario.summary}}  
            </ion-card-content>
          </div>
        </div>
      </ion-card>
    </ion-grid>

    <app-footer></app-footer>

</ion-content>

