ion-col {
    background-color: none;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%; /* Altura del contenedor principal */
  }
  
  .half {
    box-sizing: border-box;
  }
  
  .top {
    flex: 1; /* Abarca la mitad superior */
  }
  
  .bottom {
    flex: 1; /* Abarca la mitad inferior */
  }
  
  ion-grid{
    background-color: rgb(51, 50, 50);
    color: aliceblue;
    width: 100%;
    height:auto;
  }
  
  
  app-footer {
    position: fixed;
    bottom: 0;
    height:auto;
    width: 100%;
  }
  
  ion-label, ion-card, ion-col{
    color: aliceblue;
  }