<app-header titulo="Contacto"></app-header>

<ion-content >
  <ion-grid>
    <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">

      <ion-list-header>
        <ion-label style="color:#FEBD59">INGRESE SU INFORMACIÓN</ion-label>
      </ion-list-header>
  
      <ion-item class="my-item">
        <ion-label class="titulos">Nombre</ion-label>
        <ion-input type="text" 
                   placeholder="Ingrese su nombre"
                   name="nombre"
                   [(ngModel)]="usuario.nombre"
                   required></ion-input>
      </ion-item>
  
      <ion-item class="my-item">
        <ion-label class="titulos">Email</ion-label>
        <ion-input type="email" 
                   placeholder="Ingrese su email"
                   name="email"
                   [(ngModel)]="usuario.email"
                   pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                   required></ion-input>
      </ion-item>
  
      <ion-item class="my-item">
        <ion-label class="forr">Celular</ion-label>
        <ion-input type="number" 
                   name="tlf"
                   [(ngModel)]="usuario.tlf"
                   required
                   placeholder="Ingrese su celular"></ion-input>
      </ion-item>
  
      <ion-item class="my-item">
        <ion-label class="titulos">Mensaje</ion-label>
        <ion-textarea
                   name="mensaje"
                   [(ngModel)]="usuario.mensaje"
                   required
                   placeholder="Contanos tu historia o la de un conocido"
                   [counter]="true"
                    maxlength="150"
                    [counterFormatter]="customCounterFormatter"
                   >
        </ion-textarea>
      </ion-item>
  
      <ion-button [disabled]="formulario.invalid"
                  type="submit" expand="block" class="my-item">
        Enviar
      </ion-button>
      <br>
      <br>
      <br>
      <br>
      <br>
  
    </form>  
  </ion-grid>

  <app-footer></app-footer>
</ion-content>

