.item{
  margin-bottom: 24px;
  margin-top: 16px; /* Margen inferior entre elementos */
}

ion-textarea {
  height: auto;
  overflow-y: hidden;
}



.form{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.my-item{
  border-radius: 50px !important;
  margin-left: 20px;
  margin-right: 20px;
}

ion-grid{
  background-color: rgb(51, 50, 50);
  color: aliceblue;
  width: auto;
  height: auto;
}
/* 

app-footer {
  position: fixed;
  bottom: 0;
  width: auto;
  height: auto;
} */

ion-label{
  color: aliceblue;
}

