<ion-footer >
    <br>
        <ion-row class="ion-justify-content-center" >
            <b><ion-label>Contacto</ion-label></b>
        </ion-row>
        <ion-row class="ion-justify-content-center" >
            <ion-chip color="dark" mode="ios" outline="true" (click)="onClick()">
                <ion-icon name="mail-outline" style="color:#FEBD59"></ion-icon>
                <ion-label>historias.reales@gmail.com</ion-label>
              </ion-chip>
        </ion-row>
        <ion-row class="ion-justify-content-center" >
            <ion-chip color="dark" mode="ios" outline="true" (click)="onClick()">
                <ion-icon name="call-outline" style="color:#FEBD59"></ion-icon>
                <ion-label>097 397 077</ion-label>
              </ion-chip>
        </ion-row>
        <ion-row class="ion-justify-content-center" >
            <ion-chip color="dark" mode="ios" outline="true" (click)="onClick()">
                <ion-icon name="call-outline" style="color:#FEBD59"></ion-icon>
                <ion-label>Montevideo, Uruguay</ion-label>
              </ion-chip>
            
        </ion-row>
        <ion-row class="ion-justify-content-center" >
            <ion-col size="4">
                <img src="https://raw.githubusercontent.com/KeiverFajardo/historias/main/src/assets/facu_udelar.png">
            </ion-col>
            <ion-col size="4">
                <img src="https://raw.githubusercontent.com/KeiverFajardo/historias/main/src/assets/facu_fing.png">
            </ion-col>
            <ion-col size="4">
                <img src="https://raw.githubusercontent.com/KeiverFajardo/historias/main/src/assets/facu_fic.png">
            </ion-col>
        </ion-row>
        <br>

</ion-footer>