<ion-footer >
    <br>
        <ion-row class="ion-justify-content-center" >
            <b><ion-label>Contacto</ion-label></b>
        </ion-row>
        <ion-row class="ion-justify-content-center" >
            <div>
                <ion-icon name="mail-outline" style="color:#FEBD59; margin-right: 10px;"></ion-icon>
                <ion-label>historias.reales@gmail.com</ion-label>
            </div>
        </ion-row>
        <ion-row class="ion-justify-content-center" >
            <div>
                <ion-icon name="call-outline" style="color:#FEBD59; margin-right: 10px;"></ion-icon>
                <ion-label>095 555 555</ion-label>
            </div>
        </ion-row>
        <ion-row class="ion-justify-content-center" >
            <div>
                <ion-icon name="location-outline" style="color:#FEBD59; margin-right: 10px;"></ion-icon>
                <ion-label>Montevideo, Uruguay</ion-label>
            </div>
            
        </ion-row>
        <ion-row class="ion-justify-content-center" >
            <ion-col size="4">
                <img src="https://raw.githubusercontent.com/KeiverFajardo/historias/main/src/assets/facu_udelar.png">
            </ion-col>
            <ion-col size="4">
                <img src="https://raw.githubusercontent.com/KeiverFajardo/historias/main/src/assets/facu_fing.png">
            </ion-col>
            <ion-col size="4">
                <img src="https://raw.githubusercontent.com/KeiverFajardo/historias/main/src/assets/facu_fic.png">
            </ion-col>
        </ion-row>
        <br>

</ion-footer>