<ion-footer >
        <ion-row></ion-row>
        <ion-row class="ion-justify-content-center" >
            <ion-label>Contacto</ion-label>
        </ion-row>
        <ion-row class="ion-justify-content-center" >
            <ion-chip color="dark" mode="ios" outline="true">
                <ion-icon name="mail-outline"></ion-icon>
                <ion-label>historias.reales@gmail.com</ion-label>
              </ion-chip>
        </ion-row>
        <ion-row class="ion-justify-content-center" >
            <ion-chip color="dark" mode="ios" outline="true">
                <ion-icon name="call-outline"></ion-icon>
                <ion-label>097 397 077</ion-label>
              </ion-chip>
        </ion-row>
        <ion-row class="ion-justify-content-center" >
            <ion-chip color="dark" mode="ios" outline="true">
                <ion-icon name="call-outline"></ion-icon>
                <ion-label>Montevideo, Uruguay</ion-label>
              </ion-chip>
            
        </ion-row>
        <ion-row class="ion-justify-content-center" >
            <ion-col size="4">
                <img src="https://raw.githubusercontent.com/KeiverFajardo/historias/main/src/assets/facu_udelar.png">
            </ion-col>
            <ion-col size="4">
                <img src="https://raw.githubusercontent.com/KeiverFajardo/historias/main/src/assets/facu_fing.png">
            </ion-col>
            <ion-col size="4">
                <img src="https://raw.githubusercontent.com/KeiverFajardo/historias/main/src/assets/facu_fic.png">
            </ion-col>
        </ion-row>
        <ion-row></ion-row>

</ion-footer>