<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text="Regresar"
        color="primary">
      </ion-back-button>
    </ion-buttons>


    <ion-title class="ion-text-capitalize">
      {{ titulo }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>

    <!-- <ion-buttons slot="end">
      <ion-menu-button auto-hide="false" menu="first"></ion-menu-button>
    </ion-buttons> -->

  </ion-toolbar>
</ion-header> 