<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar>
    
    <!-- <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text="Regresar"
        style="color:rgb(221, 221, 48)">
      </ion-back-button>
    </ion-buttons> -->


    <ion-title class="ion-text-capitalize">
      <img src="https://raw.githubusercontent.com/KeiverFajardo/historias/main/src/assets/ojoHeader.png" alt="ojo">
    </ion-title>

    <ion-buttons slot="end" (click)="onClick()">
      <ion-icon name="menu-outline" style="color:rgb(221, 221, 48)"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header> 