<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text="Regresar"
        style="color:rgb(221, 221, 48)">
      </ion-back-button>
    </ion-buttons>


    <ion-title class="ion-text-capitalize">
      <img src="https://raw.githubusercontent.com/KeiverFajardo/historias/main/src/assets/ojo4.png" alt="ojo">
    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button menu="first" style="color:rgb(221, 221, 48)"></ion-menu-button>
    </ion-buttons>

    <!-- <ion-buttons slot="end">
      <ion-menu-button auto-hide="false" menu="first"></ion-menu-button>
    </ion-buttons> -->

  </ion-toolbar>
</ion-header> 