
<ion-content > 
    <ion-grid>

      <div class="container">
        <div class="row custom-center">
            <!-- Contenido de la fila -->
                <img src="https://raw.githubusercontent.com/KeiverFajardo/historias/main/src/assets/ojoHeader.png" alt="ojo" class="logo">
        </div>
        <div class="row custom-center">
            <!-- Contenido de la fila -->
            <ion-label style="font-size: 24px; color:rgb(255, 255, 255)">¿Tienes una historia para contar?</ion-label>
        </div>
        <div class="row custom-center">
            <!-- Contenido de la fila -->
            <ion-button routerLink="/form-contact" expand="block" fill="clear" shape="round" style="font-size: 24px; color:rgb(255, 255, 255)">
                SI
            </ion-button>
            <p style="color:#FEBD59; font-size: 36px;">|</p>
            <ion-button routerLink="/home"  expand="block" fill="clear" shape="round" style="font-size: 24px; color:rgb(255, 255, 255)">
                NO
            </ion-button>
        </div>
      </div>
    </ion-grid>

</ion-content>



<!-- 
<ion-content>
    <ion-grid>
        <ion-button class="full"  expand="full" fill="clear" shape="round">
        </ion-button>    
    </ion-grid>
    
</ion-content> -->