<app-header titulo="Acerca de Nosotros"></app-header>

<ion-content >
  <ion-grid >
      <ion-list-header>
        <ion-label class="ion-text-center">Nosotros somos UDELAR</ion-label>
      </ion-list-header>
      
      <img src="https://raw.githubusercontent.com/KeiverFajardo/historias/main/src/assets/facu_udelar.png">
      

      <ion-list-header>
        <ion-label>¿Necesitas ayuda?</ion-label>
      </ion-list-header>
        <ion-label class="my-item">Estos son los medios por los cuales te puedes comunicar con nosotros:</ion-label>
      <ion-list-header>
        <ion-label>Medios de contacto</ion-label>
        
      </ion-list-header>
      <ion-chip color="dark" mode="ios" outline="true" (click)="onClick()">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label>info@historiasReales@gmail.com</ion-label>
      </ion-chip>
      <ion-chip color="dark" mode="ios" outline="true" (click)="onClick()">
        <ion-icon name="logo-whatsapp"></ion-icon>
        <ion-label>097 397 077</ion-label>
      </ion-chip>
      <ion-chip color="dark" mode="ios" outline="true" (click)="onClick()">
        <ion-icon name="call-outline"></ion-icon>
        <ion-label>097 397 077</ion-label>
      </ion-chip>
      

      <ion-list-header>
        <ion-label>Redes Sociales</ion-label>
      </ion-list-header>
      <ion-chip color="dark" mode="ios" outline="true" (click)="onClick()">
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-label>Facebook</ion-label>
      </ion-chip>
      <ion-chip color="dark" mode="ios" outline="true" (click)="onClick()">
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-label>Instagram</ion-label>
      </ion-chip>
      <ion-chip color="dark" mode="ios" outline="true" (click)="onClick()">
        <ion-icon name="logo-linkedin"></ion-icon>
        <ion-label>Linkedin</ion-label>
      </ion-chip>
      
  </ion-grid>


</ion-content>

<app-footer></app-footer>