
  .form{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
  }
  
  .my-item{
    border-radius: 20px !important;
    margin: 20px;
  }

  ion-label, ion-chip, ion-icon{
    color: white;
  }

  ion-grid, ion-card, ion-card-content, p{
    background-color: rgb(51, 50, 50);
    color: aliceblue;
    width: auto;
    height: auto;
  }

  .justified-text {
    text-align: justify;
  }

  ion-grid, ion-item, ion-card-header, ion-card-title, ion-card-subtitle, .carrusel-1-next, .carrusel-1-prev, div.swiper-slide{
    background-color: rgb(51, 50, 50);
    color: aliceblue;
    width: auto;
    height: auto;
    font-size: 12px;
  }
  

  .custom-header {
    font-size: 18px; /* Ajusta el tamaño de fuente según tus necesidades */
  }
  
  
   //Carrusel
   .swiper-container {
    width: auto;
    height: auto;
  }
  
  .swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  
    img {
      max-width: auto;
      max-height: auto;
    }
  }