<app-header titulo="Acerca de Nosotros"></app-header>

<ion-content >
  <ion-grid >
      <ion-list-header>
        <ion-label class="ion-text-center titulos" style="color:#FEBD59; padding: 0 30px 0 30px;">HISTORIAS REALES SOBRE PERSONAS REALES</ion-label>
      </ion-list-header>

      <ion-card>
        <ion-card-content>
          <p class="justified-text">“Nuestro proyecto es una alianza educativa entre la Facultad de Comunicación (FIC) y la Facultad de Ingeniería (FING) de la Universidad de la República (UdelaR). Proviene de la materia Diseño de interacción en la cual nos desafiamos a realizar un proyecto de interacción que uniera la comunicación con la ingeniería. </p><br>
          <p class="justified-text">Historias reales sobre personas reales busca darle visualización social a las historias de personas de la cotidianeidad que no tienen los medios para ser escuchados. Buscamos generar la escucha activa, la interacción usuario - dispositivo, generar empatía y mantener presente el factor sorpresa que cada historia tiene. </p><br>
          <p class="justified-text">En principio el proyecto es un MVP que cuenta con dos historias, en un futuro aspiramos a seguir agregando historias que aporten y enriquezcan el objetivo de nuestro proyecto.”</p><br>
        </ion-card-content>
      </ion-card>
      
     <!--  <img src="https://raw.githubusercontent.com/KeiverFajardo/historias/main/src/assets/facu_udelar.png">
      

      <ion-list-header>
        <ion-label style="color:rgb(227, 177, 50)">¿Necesitas ayuda?</ion-label>
      </ion-list-header>
        <ion-label class="my-item">Estos son los medios por los cuales te puedes comunicar con nosotros:</ion-label>
      <ion-list-header>
        <ion-label style="color:rgb(227, 177, 50)">Medios de contacto</ion-label>
        
      </ion-list-header>
      <ion-chip color="dark" mode="ios" outline="true" (click)="onClick()">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label>info@historiasReales@gmail.com</ion-label>
      </ion-chip>
      <ion-chip color="dark" mode="ios" outline="true" (click)="onClick()">
        <ion-icon name="logo-whatsapp"></ion-icon>
        <ion-label>097 397 077</ion-label>
      </ion-chip>
      <ion-chip color="dark" mode="ios" outline="true" (click)="onClick()">
        <ion-icon name="call-outline"></ion-icon>
        <ion-label>097 397 077</ion-label>
      </ion-chip>
      

      <ion-list-header>
        <ion-label style="color:rgb(227, 177, 50)">Redes Sociales</ion-label>
      </ion-list-header>
      <ion-chip color="dark" mode="ios" outline="true" (click)="onClick()">
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-label>Facebook</ion-label>
      </ion-chip>
      <ion-chip color="dark" mode="ios" outline="true" (click)="onClick()">
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-label>Instagram</ion-label>
      </ion-chip>
      <ion-chip color="dark" mode="ios" outline="true" (click)="onClick()">
        <ion-icon name="logo-linkedin"></ion-icon>
        <ion-label>Linkedin</ion-label>
      </ion-chip> -->

      <ion-list-header>
        <ion-label class="titulos" style="text-align: center;">Nosotros</ion-label>
      </ion-list-header>

      <ion-card-content>
        <div class="swiper-container carrusel-1">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <ion-card>
                <ion-grid>
                  <ion-row>
                    <ion-col size="5">
                      <ion-card-content>
                        <img src="https://raw.githubusercontent.com/KeiverFajardo/historias/main/src/assets/I1.jpeg">
                      </ion-card-content>
                    </ion-col>
                    <ion-col size="7">
                      <ion-card-header >
                        
                        <ion-label>FIC Udelar</ion-label>
                        <ion-label>Comunicación organizacional</ion-label>
                        <b><ion-label class="custom-header">Isabella Meza</ion-label></b>
                        
                      </ion-card-header>
                    </ion-col>
                    
                  </ion-row>
                </ion-grid>
              </ion-card>
            </div>
            <div class="swiper-slide">
              <ion-card>
                <ion-grid>
                  <ion-row>
                    <ion-col size="5">
                      <ion-card-content>
                        <img src="https://raw.githubusercontent.com/KeiverFajardo/historias/main/src/assets/I5.jpeg">
                      </ion-card-content>
                    </ion-col>
                    <ion-col size="7">
                      <ion-card-header >
                        <ion-label>FING Udelar</ion-label>
                        <ion-label>Ingeniería en Computación</ion-label>
                        <b><ion-label class="custom-header">Keiver Fajardo</ion-label></b>
                      </ion-card-header>
                    </ion-col>
                    
                  </ion-row>
                </ion-grid>
              </ion-card>
            </div>
            <div class="swiper-slide">
              <ion-card>
                <ion-grid>
                  <ion-row>
                    <ion-col size="5">
                      <ion-card-content>
                        <img src="https://raw.githubusercontent.com/KeiverFajardo/historias/main/src/assets/I3.jpeg">
                      </ion-card-content>
                    </ion-col>
                    <ion-col size="7">
                      <ion-card-header >
                        <ion-label>FIC Udelar</ion-label>
                        <ion-label>Comunicación publicitaria</ion-label>
                        <b><ion-label class="custom-header">Dubraska Tovar</ion-label></b>
                      </ion-card-header>
                    </ion-col>
                    
                  </ion-row>
                </ion-grid>
              </ion-card>
            </div>

            <div class="swiper-slide">
              <ion-card>
                <ion-grid>
                  <ion-row>
                    <ion-col size="5">
                      <ion-card-content>
                        <img src="https://raw.githubusercontent.com/KeiverFajardo/historias/main/src/assets/I2.jpeg">
                      </ion-card-content>
                    </ion-col>
                    <ion-col size="7">
                      <ion-card-header >
                        <ion-label>FING Udelar</ion-label>
                        <ion-label>Ingeniería en sistemas</ion-label>
                        <b><ion-label class="custom-header">Facundo Lema</ion-label></b>
                      </ion-card-header>
                    </ion-col>
                    
                  </ion-row>
                </ion-grid>
              </ion-card>
            </div>

            <div class="swiper-slide">
              <ion-card>
                <ion-grid>
                  <ion-row>
                    <ion-col size="5">
                      <ion-card-content>
                        <img src="https://raw.githubusercontent.com/KeiverFajardo/historias/main/src/assets/I6.jpeg">
                      </ion-card-content>
                    </ion-col>
                    <ion-col size="7">
                      <ion-card-header >
                        <ion-label>FIC Udelar</ion-label>
                        <ion-label>Comunicación multimedia & TI</ion-label>
                        <b><ion-label class="custom-header">Azul Milano</ion-label></b>
                      </ion-card-header>
                    </ion-col>
                    
                  </ion-row>
                </ion-grid>
              </ion-card>
            </div>

            <div class="swiper-slide">
              <ion-card>
                <ion-grid>
                  <ion-row>
                    <ion-col size="5">
                      <ion-card-content>
                        <img src="https://raw.githubusercontent.com/KeiverFajardo/historias/main/src/assets/I4.jpeg">
                      </ion-card-content>
                    </ion-col>
                    <ion-col size="7">
                      <ion-card-header >
                        <ion-label>FING Udelar</ion-label>
                        <ion-label>Ingeniería en Computación</ion-label>
                        <b><ion-label class="custom-header">Micaela Percovich</ion-label></b>
                      </ion-card-header>
                    </ion-col>
                    
                  </ion-row>
                </ion-grid>
              </ion-card>
            </div>
            
          </div>
            <div class="swiper-button-next carrusel-1-next"></div>
            <div class="swiper-button-prev carrusel-1-prev"></div>
        </div>
      </ion-card-content>

     <!--  <ion-slides>
        <ion-slide *ngFor="let item of items">
          <ion-card>
            <ion-card-header>
              <ion-avatar slot="start">
                <img src="{{item.avatarUrl}}">
              </ion-avatar>
              <ion-card-title>{{item.label}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides> -->
      
  </ion-grid>

  <app-footer></app-footer>
</ion-content>

