<app-header titulo="Acerca de Nosotros"></app-header>

<ion-content >
  <ion-grid >
      <ion-list-header>
        <ion-label class="ion-text-center">Nosotros somos UDELAR</ion-label>
      </ion-list-header>
      
      <img src="https://raw.githubusercontent.com/KeiverFajardo/historias/main/src/assets/facu_udelar.png">
      

      <ion-list-header>
        <ion-label>¿Necesitas ayuda?</ion-label>
      </ion-list-header>
        <ion-label class="my-item">Estos son los medios por los cuales te puedes comunicar con nosotros:</ion-label>
      <ion-list-header>
        <ion-label>Medios de contacto</ion-label>
        
      </ion-list-header>
      <ion-chip color="dark" mode="ios" outline="true" (click)="onClick()">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label>info@historiasReales@gmail.com</ion-label>
      </ion-chip>
      <ion-chip color="dark" mode="ios" outline="true" (click)="onClick()">
        <ion-icon name="logo-whatsapp"></ion-icon>
        <ion-label>097 397 077</ion-label>
      </ion-chip>
      <ion-chip color="dark" mode="ios" outline="true" (click)="onClick()">
        <ion-icon name="call-outline"></ion-icon>
        <ion-label>097 397 077</ion-label>
      </ion-chip>
      

      <ion-list-header>
        <ion-label>Redes Sociales</ion-label>
      </ion-list-header>
      <ion-chip color="dark" mode="ios" outline="true" (click)="onClick()">
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-label>Facebook</ion-label>
      </ion-chip>
      <ion-chip color="dark" mode="ios" outline="true" (click)="onClick()">
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-label>Instagram</ion-label>
      </ion-chip>
      <ion-chip color="dark" mode="ios" outline="true" (click)="onClick()">
        <ion-icon name="logo-linkedin"></ion-icon>
        <ion-label>Linkedin</ion-label>
      </ion-chip>

      <ion-list-header>
        <ion-label>Nosotros</ion-label>
      </ion-list-header>

      <ion-card-content>
        <div class="swiper-container carrusel-1">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <ion-card>
                <ion-grid>
                  <ion-row>
                    <ion-col size="5">
                      <ion-card-content>
                        <img src="../../../assets/I1.jpeg">
                      </ion-card-content>
                    </ion-col>
                    <ion-col size="7">
                      <ion-card-header >
                        <ion-card-title class="custom-header">Isabella Meza</ion-card-title>
                        <ion-card-subtitle>Comunicación organizacional</ion-card-subtitle>
                        <ion-label>FIC Udelar</ion-label>
                      </ion-card-header>
                    </ion-col>
                    
                  </ion-row>
                </ion-grid>
              </ion-card>
            </div>
            <div class="swiper-slide">
              <ion-card>
                <ion-grid>
                  <ion-row>
                    <ion-col size="5">
                      <ion-card-content>
                        <img src="../../../assets/I5.jpeg">
                      </ion-card-content>
                    </ion-col>
                    <ion-col size="7">
                      <ion-card-header >
                  
                        <ion-card-title class="custom-header">Keiver Fajardo</ion-card-title>
                        <ion-card-subtitle>Ingeniería en Computación</ion-card-subtitle>
                        <ion-label>FING Udelar</ion-label>
                      </ion-card-header>
                    </ion-col>
                    
                  </ion-row>
                </ion-grid>
              </ion-card>
            </div>
            <div class="swiper-slide">
              <ion-card>
                <ion-grid>
                  <ion-row>
                    <ion-col size="5">
                      <ion-card-content>
                        <img src="../../../assets/I3.jpeg">
                      </ion-card-content>
                    </ion-col>
                    <ion-col size="7">
                      <ion-card-header >
                  
                        <ion-card-title class="custom-header">Dubraska Tovar</ion-card-title>
                        <ion-card-subtitle>Comunicación publicitaria</ion-card-subtitle>
                        <ion-label>FIC Udelar</ion-label>
                      </ion-card-header>
                    </ion-col>
                    
                  </ion-row>
                </ion-grid>
              </ion-card>
            </div>

            <div class="swiper-slide">
              <ion-card>
                <ion-grid>
                  <ion-row>
                    <ion-col size="5">
                      <ion-card-content>
                        <img src="../../../assets/I2.jpeg">
                      </ion-card-content>
                    </ion-col>
                    <ion-col size="7">
                      <ion-card-header >
                  
                        <ion-card-title class="custom-header">Facundo Lema</ion-card-title>
                        <ion-card-subtitle>Ingenieria en sistemas</ion-card-subtitle>
                        <ion-label>FING Udelar</ion-label>
                      </ion-card-header>
                    </ion-col>
                    
                  </ion-row>
                </ion-grid>
              </ion-card>
            </div>

            <div class="swiper-slide">
              <ion-card>
                <ion-grid>
                  <ion-row>
                    <ion-col size="5">
                      <ion-card-content>
                        <img src="../../../assets/I6.jpeg">
                      </ion-card-content>
                    </ion-col>
                    <ion-col size="7">
                      <ion-card-header >
                  
                        <ion-card-title class="custom-header">Azul Milano</ion-card-title>
                        <ion-card-subtitle>Comunicación multimedia & TI</ion-card-subtitle>
                        <ion-label>FIC Udelar</ion-label>
                      </ion-card-header>
                    </ion-col>
                    
                  </ion-row>
                </ion-grid>
              </ion-card>
            </div>

            <div class="swiper-slide">
              <ion-card>
                <ion-grid>
                  <ion-row>
                    <ion-col size="5">
                      <ion-card-content>
                        <img src="../../../assets/I4.jpeg">
                      </ion-card-content>
                    </ion-col>
                    <ion-col size="7">
                      <ion-card-header >
                  
                        <ion-card-title class="custom-header">Micaela Percovich</ion-card-title>
                        <ion-card-subtitle>Ingeniería en Computación</ion-card-subtitle>
                        <ion-label>FING Udelar</ion-label>
                      </ion-card-header>
                    </ion-col>
                    
                  </ion-row>
                </ion-grid>
              </ion-card>
            </div>
            
          </div>
            <div class="swiper-button-next carrusel-1-next"></div>
            <div class="swiper-button-prev carrusel-1-prev"></div>
        </div>
      </ion-card-content>

     <!--  <ion-slides>
        <ion-slide *ngFor="let item of items">
          <ion-card>
            <ion-card-header>
              <ion-avatar slot="start">
                <img src="{{item.avatarUrl}}">
              </ion-avatar>
              <ion-card-title>{{item.label}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides> -->
      
  </ion-grid>

  <app-footer></app-footer>
</ion-content>

