* {
    background-image: url('../../../assets/fondo.jpg') ;
    background-size: cover ; 
    background-position: center center ;
  }

  .full{
    width: 100%;
    height: 100%;
  }

  ion-icon {
    font-size: 24px; /* tamaño del icono */
    margin-right: 8px; /* margen a la derecha del icono */
  }