

  ion-icon {
    font-size: 24px; /* tamaño del icono */
    margin-right: 8px; /* margen a la derecha del icono */
  }

  div, ion-grid{
    background-color: rgb(51, 50, 50);
    color: aliceblue;
    width: auto;
    height:auto;
  }
  
  
 /*  app-footer {
    position: fixed;
    bottom: 0;
    height:auto;
    width: auto;
  } */

  //Carrusel
  .swiper-container{
    width: auto;
    height: auto;
  }
  
  .swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  
    img {
      max-width: auto;
      max-height: auto;
    }
  }

  .container {
    position: relative;
  }
  
  .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  button{
    background-color: none;
  }

  img, .swiper-slide {
    justify-content: center;
    align-items: center;
    width: 100% !important;
    height: 100% !important;
  }
  