<app-header titulo="{{this.usuario.name}}"></app-header>

<ion-content>

  <ion-grid>
  <ion-card mode="md">
    <div class="container" style="padding: 20px 0 20px;">
      <div class="half left"><img src="{{this.usuario.avatar}}"></div>
      <div class="half right">
        <ion-card-header>
         <!--  <ion-card-subtitle>{{this.usuario.age}}</ion-card-subtitle> -->
          <ion-card-title style="color:#FEBD59" class="titulos">{{this.usuario.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p style="font-size: 12px;">{{this.usuario.summary1}}</p>
          <p style="font-size: 12px;">{{this.usuario.summary2}}</p>
          <p style="font-size: 12px;">{{this.usuario.summary3}}</p>
          <p style="font-size: 12px;">{{this.usuario.summary4}}</p>
          <p style="font-size: 12px;">{{this.usuario.summary5}}</p>
        </ion-card-content>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p class="justified-text">{{this.usuario.history1}}</p><br>
      <p class="justified-text">{{this.usuario.history2}}</p><br>
      <p class="justified-text">{{this.usuario.history3}}</p><br>
      <p class="justified-text">{{this.usuario.history4}}</p><br>
      <p class="justified-text">{{this.usuario.history5}}</p><br>
      <p class="justified-text">{{this.usuario.history6}}</p><br>
      <p class="justified-text">{{this.usuario.history7}}</p><br>
      <p class="justified-text">{{this.usuario.history8}}</p><br>
      <p class="justified-text">{{this.usuario.history9}}</p><br>
      <p class="justified-text">{{this.usuario.history10}}</p><br>
      <p class="justified-text">{{this.usuario.history11}}</p><br>

    </ion-card-content>
  </ion-card>
    
  <ion-card>
    <ion-card-header style="color:#ffffff; background-color: #FEBD59;">
      <div>
        <ion-icon name="{{this.usuario.iconconcept1}}" style="font-size: 16px;"></ion-icon>
        <ion-label style="margin-left: 20px;" class="titulos">{{this.usuario.concept1}}</ion-label>
      </div>
      
    </ion-card-header>
    <!-- <ion-item style="background-color:#FEBD59 !important; color: #FEBD59;">
      
    </ion-item> -->
    
    <ion-card-content>
      <div class="swiper-container carrusel-1">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngIf="this.id == 1">
            <iframe width="560" height="190" src="https://www.youtube.com/embed/YKGwSpLPmj0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <div class="swiper-slide" *ngIf="this.id == 1">
            <img src="{{this.usuario.familia1}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 1">
            <img src="{{this.usuario.familia2}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 1">
            <img src="{{this.usuario.familia3}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 1">
            <img src="{{this.usuario.familia4}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 2">
            <iframe width="560" height="190" src="https://www.youtube.com/embed/lX4yJHhmnB8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
           </div>
          <div class="swiper-slide" *ngIf="this.id == 2">
            <img src="{{this.usuario.familia1}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 2">
            <img src="{{this.usuario.familia2}}">
          </div>
         
          <!-- Agrega más divs con clase "swiper-slide" y las imágenes que desees -->
          
        </div>
        <!-- Agrega las flechas de navegación del carrusel -->
          <div class="swiper-button-next carrusel-1-next"></div>
          <div class="swiper-button-prev carrusel-1-prev"></div>
      </div>
      <!-- {{this.usuario.description1}} -->
    </ion-card-content>

    


  </ion-card>

  <ion-card>
    <ion-card-header style="color:#ffffff; background-color: #FEBD59;">
      <div>
        <ion-icon name="{{this.usuario.iconconcept2}}" style="font-size: 16px;"></ion-icon>
        <ion-label style="margin-left: 20px;" class="titulos">{{this.usuario.concept2}}</ion-label>
      </div>
    </ion-card-header>
    
    <ion-card-content>
      <div class="swiper-container carrusel-2">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngIf="this.id == 1">
            <iframe width="560" height="190" src="https://www.youtube.com/embed/kyAIpPhUD9U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <div class="swiper-slide" *ngIf="this.id == 1">
            <img src="{{this.usuario.amor1}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 1">
            <img src="{{this.usuario.amor2}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 2">
            <img src="{{this.usuario.identidad1}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 2">
            <img src="{{this.usuario.identidad2}}">
          </div>
        <!--   <div class="swiper-slide" *ngIf="this.id == 2">
            <img src="{{this.usuario.Identidad3}}">
          </div> -->
          <div class="swiper-slide" *ngIf="this.id == 2">
            <img src="{{this.usuario.identidad4}}">
          </div>
          <!-- Agrega más divs con clase "swiper-slide" y las imágenes que desees -->
          
        </div>
        <!-- Agrega las flechas de navegación del carrusel -->
          <div class="swiper-button-next carrusel-2-next"></div>
          <div class="swiper-button-prev carrusel-2-prev"></div>
      </div>
      <!-- {{this.usuario.description2}} -->
    </ion-card-content>
    <!-- <img src="{{this.usuario.photo2}}"> -->
  </ion-card>

  <ion-card>
    <ion-card-header style="color:#ffffff; background-color: #FEBD59;">
      <div>
        <ion-icon name="{{this.usuario.iconconcept3}}" style="font-size: 16px;"></ion-icon>
        <ion-label style="margin-left: 20px;" class="titulos">{{this.usuario.concept3}}</ion-label>
      </div>
    </ion-card-header>
    
    <ion-card-content>
      <!-- {{this.usuario.description3}} -->
      <div class="swiper-container carrusel-3">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngIf="this.id == 1">
            <iframe width="560" height="190" src="https://www.youtube.com/embed/O6_hcIF2oFo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <div class="swiper-slide" *ngIf="this.id == 1">
            <img src="{{this.usuario.trabajo1}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 1">
            <img src="{{this.usuario.trabajo2}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 1">
            <img src="{{this.usuario.trabajo3}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 1">
            <img src="{{this.usuario.trabajo4}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 1">
            <img src="{{this.usuario.trabajo5}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 2">
            <iframe width="560" height="190" src="https://www.youtube.com/embed/-WUFVwsxuQQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <div class="swiper-slide" *ngIf="this.id == 2">
            <img src="{{this.usuario.trabajo1}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 2">
            <img src="{{this.usuario.trabajo2}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 2">
            <img src="{{this.usuario.trabajo3}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 2">
            <img src="{{this.usuario.trabajo4}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 2">
            <img src="{{this.usuario.trabajo5}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 2">
            <img src="{{this.usuario.trabajo6}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 2">
            <img src="{{this.usuario.trabajo7}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 2">
            <img src="{{this.usuario.trabajo8}}">
          </div>
          <!-- Agrega más divs con clase "swiper-slide" y las imágenes que desees -->
          
        </div>
        <!-- Agrega las flechas de navegación del carrusel -->
          <div class="swiper-button-next carrusel-3-next"></div>
          <div class="swiper-button-prev carrusel-3-prev"></div>
      </div>
    </ion-card-content>
    <!-- <img src="{{this.usuario.photo3}}"> -->
  </ion-card>

  <ion-card>
    <ion-card-header style="color:#ffffff; background-color: #FEBD59;">
      <div>
        <ion-icon name="{{this.usuario.iconconcept4}}" style="font-size: 16px;"></ion-icon>
        <ion-label style="margin-left: 20px;" class="titulos"> {{this.usuario.concept4}}</ion-label>
      </div>
    </ion-card-header>
    
    <ion-card-content>
      <div class="swiper-container carrusel-4">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngIf="this.id == 2">
            <img src="{{this.usuario.migracion1}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 2">
            <img src="{{this.usuario.migracion2}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 2">
            <img src="{{this.usuario.migracion3}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 2">
            <img src="{{this.usuario.migracion4}}">
          </div>
          <div class="swiper-slide" *ngIf="this.id == 1">
            <iframe width="560" height="190" src="https://www.youtube.com/embed/WhVWqIgpdR0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <!-- Agrega más divs con clase "swiper-slide" y las imágenes que desees -->
          
        </div>
        <!-- Agrega las flechas de navegación del carrusel -->
          <div class="swiper-button-next carrusel-4-next"></div>
          <div class="swiper-button-prev carrusel-4-prev"></div>
      </div>
      <!-- {{this.usuario.description4}} -->
    </ion-card-content>
    <!-- <img src="{{this.usuario.photo4}}"> -->
  </ion-card>
  </ion-grid>

  <app-footer></app-footer>
</ion-content>

